<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Header Parser</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
    <h1><center>Header Parser: Freecodecamp API project</center></h1>
    <hr/>
    <p>
        This website returns your IP-Address, Language & Software details as a JSON object.
        <br/>
        Click on this link to view & copy this link for API requests from your app: <a href="/api/whoami">/api/whoami</a>

    </p>
    <hr/>
    <footer><blockquote> Created by <a href="https://twitter.com/rajatkantinandi" target="_blank">Rajat Kanti Nandi</a></blockquote></footer>
</body>
</html>